
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');


body {
    display: flex;
    justify-content: center;
    background-color: #c91d4c;
}



#card {
    border: 1px solid black;
    display: flex;
    align-items: top;
    justify-content: center;
    height: 60vh;
    width: 35%;
    border-radius: 10px;
    margin-top: 5%;
    background-color: #fbfbfb;
    box-shadow: -2px 2px 5px black;
}

#card-title {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titulo {
    margin-bottom: 25px;
    font-family: 'Roboto Mono', monospace;
}


#submit-btn:hover {
    box-shadow: 0px 1px 18px #ed0e4b;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form-border {
    background-color: -webkit-linear-gradient(right, #ed0e4b, #c91d4c);
    height: 1px;
    width: 100%;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

.underline-title {
    background-color: -webkit-linear-gradient(right, #ed0e4b, #c91d4c);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-js-esconder, #botao-js-exibir {
    margin: top 20px;

}

#modal {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #c91d4c;
    margin-top: 20px;
}